<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3">Création d'un évènement</h1>
      <%= link_to "retour", events_path, class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded-xl shadow shadow-lg p-8 mt-14">
    <h1 class="h2 text-center mb-6">Création d'un évènement</h1>
      <%= render "form", event: @event, action: "Créer l'évènement" %>
    </div>
  </div>
</div>
