<div class="text-center container mx-auto mt-8">
  <h1 class="mb-4">Vous êtes un professionel ?</h1>

  <p class="mb-4 text-xl text-gray-700 leading-normal">
    Connectez-vous et donnez de la visibilité à vos évenements sportif. 
  </p>
  <div class="my-8 flex justify-around items-center mx-auto w-2/3">
    <%= link_to t("log_in"), new_user_session_path, class: 'btn btn-primary outline btn-expanded' %>
    <%= link_to t("sign_up"), new_user_registration_path, class: 'btn btn-primary ml-12 btn-expanded' %>
  </div>
</div>
