<div class="container mx-auto mt-8">
<div class="container mx-auto mt-24">
  <h1 class="mb-4">Conditions générales d'utilisation
            du site Panache Sport  </h1>

  <p class="mb-4 text-xl text-gray-700 leading-normal"> 
    Préambule 
    Les présentes conditions générales d'utilisation sont conclues entre :
    - le gérant du site internet, ci-après désigné « l’Éditeur »,
    - toute personne souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur ».
  </p>


  <h3 class="text-gray-700">
    Article 1 - Principes
  </h3>


  <p class="mb-4 text-xl text-gray-700 leading-normal">
    Les présentes conditions générales d'utilisation ont pour objet l'encadrement juridique de l’utilisation du
    site Panache Sport et de ses services.
    
    Le site Internet panachesport.fr est un service de : 
    <ul>
    
    <li> La société  Panache Sport World</li>
    <li> située 53 rue pierre delore 69008 Lyon, France</li>
    <li> adresse URL du site : panachesport.fr</li>
    <li> e-mail : frankmbatang@gmail.com</li>
    <li> numéro de téléphone : 0625129646</li>
    </ul>
    Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut
    acceptation de ces conditions.
  </p>



  <h3 class="text-gray-700">
    Article 2 - Evolution et durée des CGU
  </h3>

  <p class="mb-4 text-xl text-gray-700 leading-normal">
    Les présentes conditions générales d'utilisation sont conclues pour une durée indéterminée. Le contrat produit
    ses effets à l'égard de l'Utilisateur à compter du début de l’utilisation du service.
    Le site Panache Sport se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout
    moment et sans justification.
  </p>

  <h3 class="text-gray-700">
    Article 3 - Accès au site
  </h3>

      <p class="mb-4 text-xl text-gray-700 leading-normal">
    Tout Utilisateur ayant accès à internet peut accéder gratuitement et depuis n’importe où au site Panache Sport.
    Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas
    à la charge de l’Éditeur.
    Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion
    d’une maintenance, sans obligation de préavis ou de justification.
    L'Utilisateur du site a accès aux services suivants : INFORMATIONS EN LIGNE.
  </p>

 

  <h3 class="text-gray-700"> 
    Article 4  - Responsabilités 
  </h3>

  <p class="mb-4 text-xl text-gray-700 leading-normal">
    La responsabilité de l'Éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de
    fonctionnement, empêchant l'accès au site ou à une de ses fonctionnalités.
    Le matériel de connexion au site utilisée est sous l'entière responsabilité de l'Utilisateur qui doit prendre toutes
    les mesures appropriées pour protéger le matériel et les données notamment d'attaques virales par Internet.
    L'utilisateur est par ailleurs le seul responsable des sites et données qu'il consulte.
    
    L'Éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à l'encontre de l'Utilisateur :
    -  du fait de l'usage du site ou de tout service accessible via Internet ;
    -  du fait du non-respect par l'Utilisateur des présentes conditions générales.
    
    L'Éditeur n'est pas responsable des dommages causés à l'Utilisateur, à des tiers et/ou à l'équipement de
    l'Utilisateur du fait de sa connexion ou de son utilisation du site et l'Utilisateur renonce à toute action contre
    l'Éditeur de ce fait.
    Si l'Éditeur venait à faire l'objet d'une procédure amiable ou judiciaire à raison de  l'utilisation du site
    par l'Utilisateur, il pourra retourner contre lui pour obtenir indemnisation de tous les préjudices, sommes,
    condamnations et frais qui pourraient découler de cette procédure.
    
    Il est permis à l'Utilisateur de publier sur le site Panache Sport :
    - des textes ;
    - des photos ;
    L'Utilisateur s’engage à tenir des propos respectueux des autres et de la loi et accepte que ces publications
    soient modérées ou refusées par l’Éditeur, sans obligation de justification. 
    En publiant sur le site, l’Utilisateur cède à la société éditrice le droit non exclusif et gratuit de représenter,
    reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé.
    L’Éditeur s'engage toutefois à citer le membre en cas d’utilisation de  sa publication.
  </p>

  <h3 class="text-gray-700"> 
    Article 5  - Propriété intellectuelle
  </h3>

  <p class="mb-4 text-xl text-gray-700 leading-normal">
    Tous les documents techniques, produits, photographies, textes, logos, dessins, vidéos, etc., sont soumis à des
    droits d'auteur et sont protégés par le Code de la propriété intellectuelle. Lorsqu'ils sont remis à nos clients, ils
    demeurent la propriété exclusive de Panache Sport World, seul titulaire des droits de propriété intellectuelle sur
    ces documents, qui doivent lui être rendus à sa demande.
    Nos clients s'engagent à ne faire aucun usage de ces documents, susceptible de porter atteinte aux droits de
    propriété industrielle ou intellectuelle du fournisseur et s'engagent à ne les divulguer à aucun tiers, en dehors
    d'une autorisation expresse et préalable donnée par l'Editeur.
  </p>

  <h3 class="text-gray-700"> 
    Article 6  - Liens hypertextes
  </h3>

  <p class="mb-4 text-xl text-gray-700 leading-normal">
    La mise en place par l'Utilisateur de tous liens hypertextes vers tout ou partie du site est strictement interdite,
    sauf autorisation préalable et écrite de l'Éditeur, sollicitée par courriel à l'adresse
    suivante : frankmbatang@gmail.com.
    L'Éditeur est libre de refuser cette autorisation sans avoir à justifier de quelque manière que ce soit sa décision.
    Dans le cas où l'Éditeur accorderait son autorisation, celle-ci n'est dans tous les cas que temporaire et pourra
    être retirée à tout moment, sans obligation de justification à la charge de l'Éditeur.
    Dans tous les cas, tout lien devra être retiré sur simple demande de l'Éditeur.
    Toute information accessible via un lien vers d'autres sites n'est pas sous le contrôle de l'Éditeur qui décline
    toute responsabilité quant à leur contenu.
  </p>

  <h3 class="text-gray-700"> 
    Article 7 - Protection des données personnelles
  </h3>

  <p class="mb-4 text-xl text-gray-700 leading-normal">
    Vos données sont collectées par la société Panache Sport World.
    Une donnée à caractère personnel désigne toute information concernant une personne physique
    identifiée ou identifiable (personne concernée) ; est réputée identifiable une personne qui peut
    être identifiée, directement ou indirectement, notamment par référence à un nom, un numéro
    d'identification ou à un ou plusieurs éléments spécifiques, propres à son identité physique,
    physiologique, génétique, psychique, économique, culturelle ou sociale.
    Les informations personnelles pouvant être recueillies sur le site sont principalement utilisées par
    l'éditeur pour la gestion des relations avec vous, et le cas échéant pour le traitement de vos
    commandes. 
    
    Les données personnelles collectées sont les suivantes :
    - nom et prénom
    - adresse
    - adresse mail
    - numéro de téléphone
  </p>

  <h3 class="text-gray-700"> 
    Article 8  - Cookies
  </h3>

  <p class="mb-4 text-xl text-gray-700 leading-normal">
    Le site Panache Sport peut collecter automatiquement des informations standards. Toutes les informations
    collectées indirectement ne seront utilisées que pour suivre le volume, le type et la configuration du trafic
    utilisant ce site, pour en développer la conception et l'agencement et à d'autres fins administratives et de
    planification et plus généralement pour améliorer le service que nous vous offrons. 
  </p>

  <h3 class="text-gray-700"> 
    Article 9 - Loi applicable
  </h3>

  <p class="mb-4 text-xl text-gray-700 leading-normal">
    Les présentes conditions générales d'utilisation sont soumises à l'application du droit français. 
    Si les parties n'arrivent pas à résoudre un litige à l'amiable, le litige sera soumis à la compétence des tribunaux
    français.
    
    Ces CGU Conditions générales d’utilisation ont été créées sur le site Rocket Lawyer.
  </p>

</div>
</div>


