html {
  font-size: 14px;
}
span {
  @apply text-secondary-700;
}

body {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #fffcfa;
}

@media (min-width: 420px) {
  html {
    font-size: 16px;
  }
}
.table {
  @apply w-full;
  th,
  td {
    @apply align-top;
  }
}

.table-responsive {
  @apply block w-full overflow-x-auto;
  -webkit-overflow-scrolling: touch;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
