<div style="padding: 20px">
  <h1>Stats</h1>
  <br>
  <p><b>Events:</b> <%= @stats[:event_count] %></h1>
  <br>
  <p><b>Total Clubs:</b> <%= @stats[:club_count] %></h1>
  <br>
  <p><b>Total Users:</b> <%= @stats[:user_count] %></h1>
  <br>
  <p><b>Total Sports:</b> <%= @stats[:sport_count] %></h1>


</div>